body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
}

.header,
.btn,
.primary-heading,
.secondary-heading {
  font-family: 'Raleway', sans-serif;
}

.header {
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
}

.primary-heading {
  font-size: 4rem;
  font-weight: 700;
}

.secondary-heading {
  font-size: 3.4rem;
  font-weight: 700;
}

.paragraph {
  margin: 2.5rem 0;
}