// COLORS

$color-primary-dark: #070439;
$color-primary-light: #585989;

$color-accent-blue: #3065f8;
$color-accent-cyan: #3c9f8f;

$color-neutral-light: #f6f6fe;
$color-neutral-dark: #bfbfbf;

// BREAKPOINTS

$phone: 600px;
$tab-port: 900px;
$tab-land: 1200px;
